
numpy
sympy
scipy
matplotlib
seaborn
mpldatacursor
dill
pyyaml
alexlib
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
scikit-rf
tensorflow
pydot
keras-tuner
neural_structured_learning
torch
torchvision
tqdm
pandas
pillow
nibabel
dicom2nifti
joblib
bezier
send2trash
clipboard
pydmd
PyWavelets
tsfel
tensorly
kymatio
similaritymeasures
cvxpy
paramiko
sphinx
recommonmark
sphinx_rtd_theme
yaml
objgraph
